.gamesPic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gamesPicItem:nth-child(even) {
  margin-top: 250px;
}
.pic {
  width: 400px;
  height: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.gamesPicItem {
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 80px 0px 0px 0px;
  flex-wrap: wrap;
}
.title {
  color: black;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.pic-item {
  object-fit: contain;
}
