.leftArrow {
    position: absolute;
    top: 50%;
    left: 5%;
    border-radius: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #d7d7d7;
}

.leftArrow:hover {
    background-color: #ffffff;
}

.rightArrow {
    position: absolute;
    top: 50%;
    left: 95%;
    border-radius: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    color: #d7d7d7;
}

.rightArrow:hover {
    background-color: #ffffff;
}