.world-gamesPicItem {
  width: 100%;
}
.world-gamesPic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.world-pic {
  width: 700px;
  height: 700px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.world-gamesPicItem {
  width: 40%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 80px 0px 0px 0px;
  flex-wrap: wrap;
}
.world-title {
  color: black;
  width: 100%;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.world-pic-item {
  object-fit: contain;
}
